/*FOOTER*/
footer {
    background-color: $dirt-pink;
    font-size: 90%;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ul {
        display: flex;
        flex-wrap: wrap;
    }
    
    li {
        flex: 1 1 0px;
        list-style: none;
        
    }
}

.footer__nav li a {
display: block;
width: 100px;
padding: 10px;
text-decoration: none;
color: #353848;
    &:hover {
    color: #a3c9c7;
}
}

@media only screen and (max-width: 425px){
    .footer__nav li a {
        font-size: 60%;
        width: 60px;
    }
}

